body{
    background-color:rgb(243, 237, 237);
    
    
    
    
   
    
}
button,li{
    font-family: 'Dubai-Light';
    line-height: 30px;
    text-align: justify;
    font-size: 18px;
}
 .container{
    font-size:18px !important;
    line-height: 30px;
    color:#666666;
    font-family: 'Dubai-Light' !important;
    width:98%;
    margin:1%;
} 
div.sidebar{

    width:200px;
    height: 100vh;
   position: fixed;
    top: 2%;
    right:2%;
    background-color:#273648 ;
    overflow: hidden;
    
    }


.main{
   
  margin-right: 200px;
}

.dropdown

{
    
    height:64px;
    background-color:#ffffff;
}


.dropbtn{
   
    margin:8px;
    border-radius:4px;
    border:solid 1px #DDDDDD;
    width:160px;
    height:48px;
    color:#535353
    
}
input{
    padding:9px 16px 9px 27.6px;
    margin-left: 8px;
    height:48px;
    width:256px;
    border:solid 1px #DDDDDD;
    
}

.task{

    text-align: right;
   
    margin-top:32px; 
    margin-right:16px; 
}
.listbtn{
    border:hidden;
    float: left;
    margin-left: 33px;
    padding:8px;
    border-radius: 100px;
    color:#535353;
    background-color: #E0E0E0;
}

 ul{
   
    height: auto;
    list-style-image: url('./assets/icon-uncheck.svg');
    list-style-position:inside;
    justify-content:baseline ;
    
}
li{   
    padding:16px 16px 24px ;
    height: 30px;
    direction: rtl;
    background-color:#ffffff;
    overflow: hidden;
} 

li.checked {
    list-style-image: url('./assets/icon-check.svg');
    background: #888;
    color: #fff;
    text-decoration: line-through;

  }

  
  nav a{
    color:#EDF4FC!important;
     text-decoration: none;
  }

  nav li{
      color:#EDF4FC;
      display:inline-block;
      width: 200px;
      height: 48px;
      direction: rtl;
      padding:16px 30px 0 16px;
      background-color: transparent;
      padding-right: 30px;
      text-align: center;
     
     
  }

  .logo{
      display:flex;
      align-content: space-between;
     align-items: flex-start;
  }
  #closebtn{
      background-color:transparent;
      border:hidden;
      height: 11px;
      width: 9.4px;
      margin:5px 5px;
      background-image: url('./assets/outline_clear_white_18dp.png');
      background-repeat: no-repeat;
      background-size:cover;
  }

  #logo{
    display: inline-block;  
      height: 32px;
      width: 83px; 
      margin:16px 0px 16px 80px;
      background-repeat: no-repeat; 
      background-image: url(" ./assets/logo.png");
      background-size: contain;
      
  }

  #user{
      display: flex;
      justify-content:space-around;
      align-items: center;
      height: 80px;
      position: absolute;
      bottom:0;
      background-repeat: no-repeat;
      background-size: cover;

  }
  #avatar{
    display:block;
    border-radius:  48px ;
    height: 48; 
    width: 48;
  }
